.engineering-areas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.engineering-areas-list-container {
    max-height: 400px;
    overflow-y: scroll;
    width: 100%;
}

.engineering-areas-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.engineering-areas-list li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.area-name {
    font-weight: bold;
}

.area-percentage {
    font-size: 14px;
    color: gray;
}