.MenuBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(65, 159, 175);
    width: 100%;
}

.MenuBar__pesquisar {
margin-left: 7rem;
border:none;
}

.MenuBar__pesquisar input {
    width: 20rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 0.5rem;
}



.itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.sub__itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.sub__itens li{
    list-style: none;
    margin-left: 1rem;
    color: azure;
}
.sub__itens li:hover{
    color: rgb(255, 255, 255);
    font-size: 28px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}